.preview-about {
  background-color: rgb(131, 255, 255);
}

.firstLine {
  position: absolute;
  top: 25%;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  opacity: 1;
  text-align: left;
}

.secondLine {
  font-size: 1.3em;
    margin-top: 20px;
}

.profileText {
  font-size: 150%;
  position: static;
  top: 50%;
  width: 100%;
  text-align: left;
}

.profile-description-container {
  width: 100%;
    order: 2;
  
}

.preview-project {
  background-color: rgb(228, 192, 192);
}

.projectFirstLine {
  font-size: 300%;
}

.projectText {
  font-size: 200%;
}

.home-contact {
  background-color: chartreuse;
}

.home {
  animation: 0.8s ease 0s 1 fadeIn;
}
