@keyframes slideInFromBottom {
    0% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes grow {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }
  @keyframes expandMobileMenu {
    0% {
      height: 0px;
    }
    100% {
      height: 225px;
    }
  }
  @keyframes hideMobileMenu {
    0% {
      height: 225px;
    }
    100% {
      height: 0px;
    }
  }
  .navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    /* border-bottom: solid 2px #000; */
    animation: .4s ease-out 0s 1 slideInFromBottom;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #74ca4b;
    padding: 0 50px;
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .mobile-menu-hidden {
    height: 0px;
    overflow: hidden;
    animation: .4s ease 0s 1 hideMobileMenu;
    display: none;
  }
  .mobile-menu-display {
    overflow: hidden;
    animation: .4s ease 0s 1 expandMobileMenu;
  }
  .nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    font-weight: bold;
    height: 70px;
    color: #FF887B;
    width: 70px;
    text-decoration: none;
    border: solid 5px #b9b9b9;
    border-radius: 17px;
    background-color: #f2f2f2;
    transition: .3s ease;
  }
  .nav-logo:hover {
    color: #E96153;
    background-color: #ebebeb;
    transition: .3s ease;
  }
  
  .right-nav-items {
    display: flex;
    list-style: none;
  }
  .nav-item {
    margin-left: 50px;
    text-decoration: none;
    color: #ab0cf5;
    font-size: 1.1em;
    transition: .15s ease;
  }
  .mobile-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-item {
    margin-bottom: 25px;
    text-decoration: none;
    color: #b9b9b9;
    font-size: 1.25em;
    transition: .15s ease;
  }
  .nav-item:hover {
    color: #FF887B;
    transition: .15s ease;
  }
  .active {
    color: #FF887B;
  }
  .active::after {
    animation: .4s ease-out 0s 1 grow;
    content: ' ';
    display: block;
    height: 4px;
    width: 50%;
    background-color: #FF887B;
    position: relative;
    top: 10px;
    /* border-radius: 25%; */
    margin: 0 auto;
  }
  .hamburger-container {
    display: none;
  }
  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #b9b9b9;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-6px, 4px);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  @media (max-width: 1023px) {
    .navbar {
      height: auto;
      padding: 0 25px;
      /* border-bottom: solid 1px #000; */
    }
    .nav-logo {
      font-size: 1em;
      height: 50px;
      width: 50px;
      border: none;
      margin: 10px 0;
      border: solid 3px #b9b9b9;
    }
    .right-nav-items {
      display: none;
    }
    .hamburger-container {
      display: inline-block;
      cursor: pointer;
    }
    .active::after {
      animation: none;
      content: none;
      display: none;
      height: none;
      width: none;
      background-color: none;
      position: none;
      top: none;
      border-radius: none;
      margin: none;
    }
  }